1

In [1]:
a = [1, 2, 3]
b = a
a.append(4)
print(b)

[1, 2, 3, 4]

2

In [3]:
class Gizmo:
    def __init__(self):
        print(f'Gizmo id: {id(self)}')
x = Gizmo()
y = Gizmo() * 10

Gizmo id: 140576452144880
Gizmo id: 140576452137392

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
print(dir())

['Gizmo', 'In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_ih', '_ii', '_iii', '_oh', 'a', 'b', 'exit', 'get_ipython', 'quit', 'x']

3

In [5]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
print(lewis is charles)
print(id(charles), id(lewis))
lewis['balance'] = 950
print(charles)

True
140576442096000 140576442096000
{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

4

In [7]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
print(alex == charles)
print(alex is  charles)

True
False

5

In [9]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
print(t1 == t2)
print(t1 is t2)
print(id(t1[-1]))
t1[-1].append(99)
print(t1, id(t1[-1]))
print(t1 == t2)

True
False
140575551430336
(1, 2, [30, 40, 99]) 140575551430336
False

6

In [10]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

7

In [11]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

8

In [12]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
print(id(bus1), id(bus2), id(bus3))
bus1.drop('Bill')
print(bus1.passengers, bus2.passengers, bus3.passengers)
print(id(bus1.passengers), id(bus2.passengers), id(bus3.passengers))

140575554037184 140575554032288 140575554031232
['Alice', 'Claire', 'David'] ['Alice', 'Claire', 'David'] ['Alice', 'Bill', 'Claire', 'David']
140575563052096 140575563052096 140575551602560

9

In [13]:
a = [10, 20]
b = [a, 30]
a.append(b)
print(a)
c = copy.deepcopy(a)
print(c)

[10, 20, [[...], 30]]
[10, 20, [[...], 30]]

10

In [14]:
def f(a, b):
    a += b
    return a

x = 1
y = 2
print(f(x, y), (x, y))

a = [1, 2]
b = [3, 4]
print(f(a, b), (a, b))

t = (10, 20)
u = (30, 40)
print(f(t, u), (t, u))

3 (1, 2)
[1, 2, 3, 4] ([1, 2, 3, 4], [3, 4])
(10, 20, 30, 40) ((10, 20), (30, 40))

11

In [15]:
class HauntedBus:
    def __init__(self, passengers=[]):
        self.passengers = passengers
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

12

In [16]:
bus1 = HauntedBus(['Alice', 'Bill'])
print(bus1.passengers)
bus1.pick('Charlie')
bus1.drop('Alice')
print(bus1.passengers)

bus2 = HauntedBus()
bus2.pick('Carrie')
print(bus2.passengers)

bus3 = HauntedBus()
print(bus3.passengers)
bus3.pick('Dave')
print(bus2.passengers)
print(bus2.passengers is bus3.passengers)
print(bus1.passengers)

['Alice', 'Bill']
['Bill', 'Charlie']
['Carrie']
['Carrie']
['Carrie', 'Dave']
True
['Bill', 'Charlie']

13

In [17]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

14

In [18]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
print(basketball_team)

['Sue', 'Maya', 'Diana']

15

In [19]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

16

In [20]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
print(basketball_team)

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

17

In [21]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
print(ender.alive)
del s1
print(ender.alive)
s2 = 'spam'
print(ender.alive)

True
True
Gone with the wind...
False